<ion-header [translucent]="true" >
  <ion-toolbar class="app-bar">
    <ion-buttons slot="start" >
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Preguntas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="questionnaireList.length != 0">
    <ion-list  *ngFor="let questionnaire of questionnaireList" class="list" lines="none">
      <app-questionnaire-card [questionnaire]="questionnaire"></app-questionnaire-card>
    </ion-list>
    
  </div>
  <div *ngIf="questionnaireList.length == 0" class="nothing">
    <ion-text>
      No hay cuestionarios aún
    </ion-text>
  
  
  </div>
</ion-content>