<ion-card class="personal-card" [color]="'primary'" (click)="goQuestionnaryList()" >
  <ion-row class="ion-align-items-center">
    <ion-col class="exppanded-width">

      <ion-card-header >
        <ion-card-title >{{room.title}}</ion-card-title>
       
      </ion-card-header>
      <ion-card-content>
        <p >Código de acceso: {{room.code}}</p>
        <p class="creation-info">Sala creada: {{room.createdAt | date:'medium'}}</p>
        <div *ngIf="room.createdAt != room.updatedAt">
    
          <p class="creation-info">Sala actualizada: {{room.updatedAt | date}}</p>
        </div>
      </ion-card-content>

    </ion-col>
  
      <ion-icon name="chevron-forward-outline" class="icon"></ion-icon>

  </ion-row>
  
  
</ion-card>