.body {
    display: block;
    align-items: center;
    align-items: center;
    text-align: center;
    margin: 40px;
    flex-direction: column;
}

.field {
    width: 90%;
    margin: 10px;
}

.button-validate {
    margin-top: 5%;
}

.icon {
    margin-top: 1%;
    height: 100px
}

.slider {
    color: #3F2305;
    border-color: #3F2305;
    accent-color: #3F2305;
}