/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


ion-content {
    --background: #F2EAD3;
}

ion-toolbar {
    --background: transparent;
}

ion-back-button{
    --color: white !important;
  }
  ion-card-title {
    font-weight: bold;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    --background: #3F2305;
    text-decoration-color: white;
}

.nav-bar {
    
    --background: #3F2305;
    opacity: 0.9;
    //--color: #3F2305;
    //--border: #3F2305;
}

.tab-button {
    --color-focused: white;
    --color-selected: white;
    --color: rgb(121, 95, 95);
}



.list {
    background-color: transparent;
}

.nothing {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: black;
}

.posterImg {
    width: 50%;
    border-radius: 50%;
    
}

.row {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.exppanded-width {
    width: 100%;
}

.icon {
    width: 30px;
    padding: 5px;
    font-size: 30px;
}

.creation-info {
    color: #bababa;
}



